.page--settings {
  position: relative;
  padding-bottom: 46px;
  .form--settings {
    padding: 20px;
    height: 100%;
    overflow: auto;
  }

  .container--reset--button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    .button {

    }
  }
}
